code/NodeRed_Flow/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "secureBox_Project",
        "disabled": false,
        "info": "Progetto secureBox \nCorso di Laboratorio di IoT\n\nStudenti:\nBaggiano Antonio\nDe Filippo Gaetano"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "80a38bd3a2a0bafb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "tempIn",
        "topic": "secureBox_temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "ac6a26ce8dfe80ff"
            ]
        ]
    },
    {
        "id": "ac6a26ce8dfe80ff",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "tempGauge",
        "group": "4adb74f4789f2bac",
        "order": 13,
        "width": 12,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "9126deb042a1f531",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "umiIn",
        "topic": "secureBox_umidita",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "4466bac4927bc746"
            ]
        ]
    },
    {
        "id": "4466bac4927bc746",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "umiGauge",
        "group": "4adb74f4789f2bac",
        "order": 2,
        "width": 12,
        "height": 5,
        "gtype": "gage",
        "title": "Umidità",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "913ab494b2f50eee",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "impIn",
        "topic": "secureBox_impronta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "ae178e8b22a0782b"
            ]
        ]
    },
    {
        "id": "ae178e8b22a0782b",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "4adb74f4789f2bac",
        "order": 6,
        "width": 12,
        "height": 1,
        "name": "impText",
        "label": "Impronta Digitale",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf191fd612273f52",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "doorIn",
        "topic": "secureBox_porta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "8909520e37207b67"
            ]
        ]
    },
    {
        "id": "185b14067013cd42",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "almIn",
        "topic": "secureBox_allarme",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "c9b70d6d213cdd89",
                "20b7cc5c675046c3"
            ]
        ]
    },
    {
        "id": "8909520e37207b67",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "4adb74f4789f2bac",
        "order": 15,
        "width": 12,
        "height": 1,
        "name": "doorText",
        "label": "Stato Porta",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "c9b70d6d213cdd89",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "4adb74f4789f2bac",
        "order": 19,
        "width": 12,
        "height": 1,
        "name": "alarmText",
        "label": "Stato Allarme",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "5059fc114a06a75f",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "AlmOff",
        "group": "4adb74f4789f2bac",
        "order": 23,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Admin: Reset secureBox",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "RESET",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "5dd4938373f2021c"
            ]
        ]
    },
    {
        "id": "9beed63310240902",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "pswIn",
        "topic": "secureBox_pswCheck",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32bed7faa928f51",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "ad893f9fe9241046"
            ]
        ]
    },
    {
        "id": "2dcc8b239a5c55a4",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "pswOut",
        "topic": "secureBox_pswResult",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b32bed7faa928f51",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "20b7cc5c675046c3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "// Leggi il messaggio MQTT in arrivo\nvar messaggio = msg.payload;\n\n// Controlla se il messaggio contiene \"CICALINO IN AZIONE\" o \"CICALINO NON IN AZIONE\"\nif (messaggio.includes(\"ALLARME IN CORSO\")) {\n    // Se il messaggio contiene \"CICALINO IN AZIONE\", abilita il bottone\n    msg.enabled = true;\n} else if (messaggio.includes(\"ALLARME SPENTO\")) {\n    // Se il messaggio contiene \"CICALINO NON IN AZIONE\", disabilita il bottone\n    msg.enabled = false;\n}\n\n// Ritorna il messaggio con lo stato del bottone\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            [
                "5059fc114a06a75f"
            ]
        ]
    },
    {
        "id": "ad893f9fe9241046",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "funzioneControlloPsw",
        "func": "var passwordRicevuta = msg.payload;\nvar passwordCorretta = \"123AB\"; // Password memorizzata in Node-RED\nif (passwordRicevuta === \"ATTESA\") {\n    msg.payload = \"ATTESA\"\n    return msg;\n}\nelse if (passwordRicevuta === passwordCorretta) {\n    msg.payload = \"PSW_RICONOSCIUTA\";\n    return msg;\n}\nelse if (passwordRicevuta !== passwordCorretta) {\n    msg.payload = \"PSW_NON_RICONOSCIUTA\"\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "b1f93c975b5ca52b",
                "5548d6e05c3fc3a6"
            ]
        ]
    },
    {
        "id": "b1f93c975b5ca52b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "funzioneRitornoMQTT",
        "func": "var stato = msg.payload;\n\nif (stato === \"PSW_RICONOSCIUTA\") {\n    msg.payload = \"PSW_OK\";\n    return msg;\n}\nelse if (stato === \"PSW_NON_RICONOSCIUTA\") {\n    msg.payload = \"PSW_ER\";\n    return msg;\n}\n//else if (stato === \"ATTESA\") {\n//    msg.payload = \"PSW_NO\";\n//    return msg;\n//}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "2dcc8b239a5c55a4"
            ]
        ]
    },
    {
        "id": "5548d6e05c3fc3a6",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "4adb74f4789f2bac",
        "order": 10,
        "width": 12,
        "height": 1,
        "name": "pswText",
        "label": "Stato Inserimento Password",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "5dd4938373f2021c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "resetAdmin",
        "topic": "secureBox_resetAdmin",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b32bed7faa928f51",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "663b8d2cc6498cc2",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 1,
        "width": 27,
        "height": 1
    },
    {
        "id": "715656b2b7f5502d",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 3,
        "width": 15,
        "height": 1
    },
    {
        "id": "dbfdf6fa9a6c0739",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 4,
        "width": 15,
        "height": 1
    },
    {
        "id": "3261412063029b9c",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "7509ea8aad76349d",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "20698336637531cd",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 8,
        "width": 15,
        "height": 1
    },
    {
        "id": "2cf8f78fb32c799d",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "43e7f09ddeeebf62",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "521a31554f94e420",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 12,
        "width": 27,
        "height": 1
    },
    {
        "id": "dc599904eb95d1bc",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b2bcd1e91b38bb4",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7129270be59d612",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 17,
        "width": 15,
        "height": 1
    },
    {
        "id": "6d4a4a8cf5c1b9fd",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ccd7bd1fbcf3b69",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "c53d8e79b9e60dd8",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 21,
        "width": 15,
        "height": 1
    },
    {
        "id": "151bd672dd30d534",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "7eb4e5274f64a4b0",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "4adb74f4789f2bac",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "b32bed7faa928f51",
        "type": "mqtt-broker",
        "name": "locale",
        "broker": "192.168.1.21",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4adb74f4789f2bac",
        "type": "ui_group",
        "name": "secureBox_dash",
        "tab": "c0bef8a814743153",
        "order": 2,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c0bef8a814743153",
        "type": "ui_tab",
        "name": "secureBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]